/*CLASES GENERALES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    scroll-behavior: smooth;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.08em;
    cursor: pointer;
}

ul li {
    list-style: none;
}

.etiqueta{
    position: relative;
}

.etiqueta span{
    z-index: 1;
    position: relative;
    padding: 0 15px 0 0;
}

.etiqueta::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    background: #027866;
}

.bgblack{
    background: #000;
}

.bgwhite{
    background: #DBE1E0;
}

.wrapper{
    padding: 0 20px;
    max-width: 700px;
    margin: 0 auto;
}

.margin_big{
    margin-top: 35px;
}

.margin_regular{
    margin-top: 25px;
}

/*TIPOGRAFIA*/

h1{
    font-size: 1.777rem;
    font-weight: 400;
}

.big{
    font-size: 1.333rem;
    font-weight: 400;
}

.regular{
    font-size: 1rem;
    font-weight: 400;
}

.small{
    font-size: 0.75rem;
    font-weight: 400;
}

.button{
    font-size: 0.60rem;
    font-weight: 700;
}


/*COLORES*/

.g200{
    color: #87FCEB;
}

.g500{
    color: #04B499;
}

.g600{
    color: #027866;
}

.g700{
    color: #013C33;
}

.b100{
    color: #F1F3F3;
}

.b200{
    color: #DBE1E0;
}

.b600{
    color: #556361;
}

.b700{
    color: #313A39;
}

.b800{
    color: #101313;
}

.r400{
    color: #EC096F;
}



/*HEADER*/

header{
    margin: 9px 0;
    padding: 0 9px;
    display: flex;
    z-index: 5;
    width: 100%;
    height: 70px;
    position: fixed;
    justify-content: space-between;
}

.minilogo img{
    width: 50px;
}

.spotify{
    color: #EC096F;
    width: 220px;
}

.spotify_content{
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
    display: flex;
    border: 2px solid #EC096F;
    border-radius: 63px;
}

.spotify_content svg{
    width: 85px;
}

/*CAJA RRSS*/

.boxredes{
    height: 0;
    visibility: hidden;
}

.boxredes ul li{
    margin: 0;
}


/*INICIO*/

.inicio{
    height: 100vh;
    width: 100%;
}

.inicio video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}


.inicio_logo{
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -105px;
    margin-top: -100PX;
}

.inicio_logo img{
    position: absolute;
    z-index: 2;
    height: 200px;
    width: 200px;
}



/*BIO*/

.bio{
    padding: 150px 0;
    background-color: black;
    background-image: url(../assets/bgsobremi.jpg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left bottom;
}

/*MUSICA*/

.musica{
    padding: 50px 0;
    background-color: #DBE1E0;
}

.spotify_player iframe{
    border-radius: 20px;
}


/*VIDEOS*/

.videos{
    padding: 50px 0;
    background-color: #DBE1E0;
}

.youtube_player iframe{
    border-radius: 20px;
}


/*EVENTOS*/

.eventos{
    padding: 50px 0;
    background-color: #DBE1E0;
}

.ticket{
    width: 100%;
    height: auto;
    background-color: #F1F3F3;
}


@media screen and (min-width: 900px) {

    /*CLASES GENERALES*/
    a{
        font-size: 13.5px;
        letter-spacing: 0.08em;
    }

    .wrapper{
        max-width: 1300px;
        padding: 0 50px;
    }

    /*TIPOGRAFIA*/

    h1{
        font-size: 2.36rem;
        font-weight: 400;
    }

    .big{
        font-size: 1.777rem;
        font-weight: 400;
        line-height: 40px;
    }

    .regular{
        font-size: 1.333rem;
        font-weight: 400;
    }

    .small{
        font-size: 1rem;
        font-weight: 400;
    }

    .button{
        font-size: 0.75rem;
        font-weight: 700;
    }


    /*HEADER*/

    .spotify{
        width: 240px;
    }

    .spotify_content svg{
        width: 100px;
    }

    /*CAJA RRSS*/

    .boxredes{
        height: initial;
        visibility: visible;
        text-align: center;
        right: 0;
        width: 65px;
        z-index: 1;
        position: fixed;
        top: 40%;
        background: #B10653;
        box-shadow: 0px 33px 80px rgba(0, 0, 0, 0.06), 0px 9.94853px 24.1177px rgba(0, 0, 0, 0.0390953), 0px 4.13211px 10.0172px rgba(0, 0, 0, 0.03), 0px 1.4945px 3.62304px rgba(0, 0, 0, 0.0209047);
        border-radius: 25px 0 0 25px;
    }

    .boxredes ul li{
        margin: 20px 0;
    }
    

    /*INICIO*/

    .inicio_logo{
        margin-left: -150px;
        margin-top: -150PX;
    }
    
    .inicio_logo img{
        height: 300px;
        width: 300px;
    }
    

    /*BIO*/

    .bio{
        padding: 150px 0;
        background-size: 40%;
    }

    .flex_column{
        grid-template-columns: repeat(2, auto);
        grid-gap: 80px;
        display: grid;
        grid-column: 50%;
    }

    #margin_super{
        margin-top: 200px;
    }

}
